scikit-learn==1.0
opencv-python==4.5.1.48
tqdm~=4.62.1
matplotlib==3.3.3
seaborn==0.11.1
numpy==1.20.0
scipy==1.6.0
rich==9.10.0
torch==1.7.1
torchvision==0.8.2
torchinfo==0.0.6
Pillow~=8.1.0
pandas==1.2.1
albumentations==0.5.2
setuptools~=51.3.3
toml~=0.10.2
tabulate~=0.8.9
plotly~=5.6.0
websockets==9.1
av>=9.2.0